[Unit]
Description=The default web site of the Zongsoft.

[Service]
Type=simple
WorkingDirectory=/Zongsoft/hosting/web/default
ExecStartPre=/bin/mkdir -p /Zongsoft/hosting/web/default/logs
ExecStart=dotnet /Zongsoft/hosting/web/default/Zongsoft.Hosting.Web.dll  --urls http://127.0.0.1:8069
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Zongsoft.Web
DynamicUser=no
PrivateTmp=no
ReadWritePaths=/Zongsoft/hosting/web/default /Zongsoft/hosting/web/default/logs /tmp

Environment=Environment=development
Environment=ASPNETCORE_ENVIRONMENT=development
Environment=DOTNET_NOLOGO=true

[Install]
WantedBy=multi-user.target
