[Unit]
Description=The daemon of the Zongsoft.

[Service]
Type=simple
WorkingDirectory=/Zongsoft/hosting/daemon/bin/Debug/net10.0
ExecStartPre=/bin/mkdir -p /Zongsoft/hosting/daemon/bin/Debug/net10.0/logs
ExecStart=dotnet /Zongsoft/hosting/daemon/bin/Debug/net10.0/Zongsoft.Hosting.Daemon.dll
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Zongsoft.Daemon
DynamicUser=no
PrivateTmp=no
ReadWritePaths=/Zongsoft/hosting/daemon/bin/Debug/net10.0 /Zongsoft/hosting/daemon/bin/Debug/net10.0/logs /tmp

Environment=Environment=development
Environment=ASPNETCORE_ENVIRONMENT=development
Environment=DOTNET_NOLOGO=true

[Install]
WantedBy=multi-user.target
